/* * {
  background-image: url(back2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */
*{
  background-color: rgb(0, 0, 0);
}

h1 {
  color: rgb(85, 241, 6);
  font-size: 10vh;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  box-shadow: 5px 5px 5px #fff;
  font-family: serif;
  font-weight: 1000;
}

p{
  color:  rgb(85, 241, 6);
  font-size: 9vh;
  font-weight: 800;
  border-bottom: 4px solid black;
  font-family: serif;
}

p2{
  color:  rgb(85, 241, 6);
  font-weight: 600;
  margin-top: 11px;
  padding-bottom: 0px;
  font-size :30px;
  font-family: serif;
}

.input-select{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input{
  color: rgb(85, 241, 6);
  border:4px dotted rgb(255, 255, 255);
  font-weight: 900;
  margin-right: 19px;
  height: auto;
  margin-bottom: 30px;
  padding:9px;
  font-family: serif;
  font-size: 20px;
}

.btn2{
  font-weight:200;
  background-color: rgba(0, 0, 0, 0.53);
  height: auto;
  height: 40px;

}

.imgsel{
  height: 130px;
  width:auto;
}


.container{
  display: flex;
  justify-content: center;
}

.container_all{
  margin-top: 60px;
  height: auto;
  width: auto;
}

.drop{
  background-color: rgb(0, 0, 0);
  margin-top: 10px;
  
}

.alert_box{
  background-color: #fff;
  color: black;
}